In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('statusinvest-busca-avancada.csv', dtype=str)
df.shape

(550, 1)

In [3]:
df.head(1)

  TICKER;;;;;;;;;;;;;;;;;;;;;;;;;;;;;
0  AALR3;;;;;;;;;;;;;;;;;;;;;;;;;;;;;

In [4]:
df = df.rename(columns={'TICKER;;;;;;;;;;;;;;;;;;;;;;;;;;;;;': 'tickers'})

In [5]:
df['tickers'] = df.tickers.str.split(';').str[0]
df.head(1)

  tickers
0   AALR3

In [40]:
df.to_csv('extrato_tickets.csv')